{% load widget_tweaks %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container px-3 bg-zinc-800 p-3 mt-3 mx-auto rounded-lg " {% if LANGUAGE_CODE == 'fa' %} lang="fa" dir="rtl" {% else %} lang="en" dir="ltr" {% endif %}>
    <h5 class="text-center font-bold text-3xl my-3">Add Wallet</h5>
    <form novalidate class="w-full rounded-lg shadow-lg" action="" hx-post="{% url 'easy-tracker:add-wallet' %}" hx-target="#content" hx-swap="innerHTML transition:true" hx-indicator="#spinner">
    <div class="mx-auto">
        <label class="input input-bordered {% if form.name.errors or exc %} input-error {% endif %} flex items-center gap-2">
            <h5 class="mr-2">{% translate 'Name' %}</h5>
            <input id="id_name" name="name" value="{{ form.data.name|default_if_none:'' }}"  type="text" class="grow " placeholder=""  />
          </label>
        {% if form.name.errors %}
            {% for e in form.name.errors %}
                <p class="text-error mt-1">{{e}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mx-auto mt-3">
        <label class="input input-bordered {% if form.initial_balance.errors %} input-error {% endif %} flex items-center gap-2">
            <h5 class="mr-2">{% translate 'initial balance' %}</h5>
            <input id="id_initial_balance" name="initial_balance" value="{{ form.data.initial_balance|default_if_none:'' }}"  type="number" class="grow " placeholder=""  />
          </label>
        {% if form.initial_balance.errors %}
            {% for e in form.initial_balance.errors %}
                <p class="text-error mt-1">{{e}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mx-auto">
        <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text font-bold mx-2">{% translate 'Exclude from total' %}</span>
                {% render_field form.exclude_from_total class="checkbox checkbox-success" %}
            </label>
          </div>
    </div>
    {% if exc %}
        <p class="text-error mt-1">{{exc}}</p>
    {% endif %}
    <button type="submit" class="w-full mt-2 bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-emerald-900 focus:ring-opacity-50">
        {% translate 'Add' %}
    </button>
</form>
</div>