{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="container p-3 lg:grid lg:grid-cols-5 lg:gap-2 justify-items-center mx-auto rounded h-screen overflow-y-scroll " {% if LANGUAGE_CODE == 'fa' %} lang="fa" dir="rtl" {% else %} lang="en" dir="ltr" {% endif %}>
{% for cat in categories %}
    <button class="w-full btn btn-success my-1">{{cat}}</button>
{% endfor %}

<div class="grid grid-cols-2 justify-items-center">
    <div><p>{% translate 'Add Category' %}</p></div>
    <div>
    <a class="cursor-pointer" hx-get="{% url 'easy-tracker:add-category' %}" hx-target="#content" hx-swap="innerHTML transition:true" hx-indicator="#spinner"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-emerald-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
      </svg></a>
    </div>
    </div>

  </div>