{% load i18n %}
{% load humanizelib %}
{% get_current_language as LANGUAGE_CODE %}
<div class="container p-3 mx-auto rounded " {% if LANGUAGE_CODE == 'fa' %} lang="fa" dir="rtl" {% else %} lang="en" dir="ltr" {% endif %}>
    <div class="card bg-zinc-800 mx-auto w-full shadow-xl">
        <div class="card-body">
          <h2 class="card-title text-emerald-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            Total</h2>
          <p>{{total_wallet.balance|intcomma}}</p>
          </div>
        </div>
      {% if has_wallet %}
        <div class="divider text-emerald-500">Included in Total</div>
            {% for w in wallets %}
            <a class="cursor-pointer " hx-get="{% url 'easy-tracker:wallet' w.pk %}" hx-target="#content" hx-swap="innerHTML transition:true"
            hx-indicator="#spinner">
        <div class="card bg-zinc-800 mx-auto my-2 w-full shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-emerald-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-emerald-500 inline"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" /></svg>
                {{w.name}}</h2>
              <p>{{w.balance|intcomma}} </p>
              </div>
            </div>
          </a>
            {% endfor %}

      {% endif %}
      <a class="cursor-pointer" hx-get="{% url 'easy-tracker:add-wallet' %}" hx-target="#content" hx-swap="innerHTML transition:true"
      hx-indicator="#spinner">
        <h5 class="font-bold mt-3 text-emerald-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Add Wallet
      </h5>
        
      </a>
</div>

